@page
@model GestorMotosRetenidas.Pages.Motos.IndexModel
@{
    ViewData["Title"] = "Listado de Motos Retenidas";
}

<h2>Motos Retenidas</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nro Retención</th>
            <th>Patente</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Motivo</th>
            <th>Estado</th>
            <th>Titular</th>
            <th>Infractor</th>
            <th>Fecha Retención</th>
            <th>Última Actualización</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var moto in Model.ListaMotos)
        {
            <tr>
                <td>@moto.NroRetencion</td>
                <td>@moto.Patente</td>
                <td>@moto.Marca</td>
                <td>@moto.Modelo</td>
                <td>@moto.MotivoRetencion</td>
                <td>@moto.EstadoMoto</td>
                <td>@moto.Titular?.NombreTitular @moto.Titular?.ApellidoTitular</td>
                <td>@moto.Infractor?.NombreInfractor @moto.Infractor?.ApellidoInfractor</td>
                <td>@moto.FechaRetencion.ToShortDateString()</td>
                <td>@moto.FechaActualizacion.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>